@inherits Umbraco.Web.Mvc.UmbracoViewPage<DtContentTile>
@{
    if (Request.QueryString["m"] == "1")
    {
        Layout = null;
    }
    else
    {
        Layout = "vCommon.cshtml";
    }

    var styles = new List<string> { "primary", "secondary", "info", "success", "warning", "danger" };
    var rnd = new Random();
    var style = styles[rnd.Next(styles.Count)];
    var item = Model;
}

<div class="row no-gutters">
    <div class="col-1 rounded pt-1 pb-2 d-flex align-items-center justify-content-center">
        <div class="text-primary">@renderThemeIcon(item.TileType, 2)</div>
    </div>
    <div class="col-11 p-0">
        <div class="card-body p-2">
            <small class="card-text text-info  mb-0">@(item.Parent.Name.ToUpper())</small>
            <h5 class="card-title text-primary">@(item.Name)</h5>
        </div>
    </div>
</div>

@if (item.BannerImage == null && Model.TileExternalVideo == null)
{

    <div class="card border-0">

        <div class="card-img">
            <div class="bg-@(style) text-white text-center rounded p-5">
                <div class="p-4">@renderThemeIcon(item.TileType, 4)</div>
            </div>
        </div>
    </div>
}
else
{

    <div class="card bg-@(style) border-0">

        @if (Model.TileExternalVideo != null)
        {
            var uri = Request.Url;
            <div class="embed-responsive embed-responsive-16by9 rounded">
                @Html.Raw(Model.TileExternalVideo.EmbedCode.ToHtmlString().Replace("<iframe", "<iframe id='yt-in-modal' class=\"embed-responsive-item\"").Replace("feature=oembed", $"feature=oembed&rel=0&enablejsapi=1&version=3&origin={uri.Scheme}://{uri.Authority}&"))
            </div>
        }
        else if (item.BannerImage != null)
        {
            <picture>
                <source srcset="@(item.BannerImage.GetCropUrl(cropAlias: "Landscape", width: 960))" media="(min-width: 1200px)" />
                <source srcset="@(item.BannerImage.GetCropUrl(cropAlias: "Landscape", width: 600))" media="(min-width: 996px)" />
                <source srcset="@(item.BannerImage.GetCropUrl(cropAlias: "Landscape", width: 576))" media="(min-width: 576px)" />
                <img srcset="@(item.BannerImage.GetCropUrl(cropAlias: "Landscape", width: 576))" alt="@(item.BannerImage.Name)" class="card-img-top rounded" />
            </picture>
        }
    </div>
}

<div class="card mt-1 border-0">
    <div class="card-body">

        @if (Model.ContentGrid != null)
        {
            <div class="card-text">
                @Html.GetGridHtml(Model, "contentGrid")
            </div>
        }

        @if (Model.ContentTitle != Model.Name)
        {
            <div class="pb-2 text-center">
                <h5>@(Model.ContentTitle)</h5>
            </div>
        }

        @if (!String.IsNullOrWhiteSpace(Model.TileExternalUrl))
        {
            <div class="card-link text-center">
                <a href="@Model.TileExternalUrl" class="btn btn-@style card-link alert-link" title="Source Content (opens in a new window)" target="_blank">Explore</a>
            </div>
        }

    </div>
</div>

<hr />

@Html.Partial("Content/SuggestedTiles")


@Html.Partial("Content/CallToAction")


@helper renderThemeIcon(string TileType, int? sizeMultiple)
{

    if (TileType == "External Link")
    {
        TileType = "Web Link";
    }

    var svgType = $"icon-{TileType.Replace(" ", "-").ToLower()}";
    <svg class="icon @(svgType)@(sizeMultiple!= null ? $" x{sizeMultiple}-icon":"")">
        <use xlink:href="/thinkblue-icons.svg#@(svgType)"></use>
    </svg>
    <span class="sr-only">@(TileType)</span>
}
