@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core;
@using ClientDependency.Core.Mvc;
@{
    Layout = null;

    Html.RequiresCss(new CssFile("~/styles/bootstrap-4.3.1.min.css") { ForceProvider = "HeadRenderer", Priority = 1 });
    Html.RequiresCss(new CssFile("~/styles/cookieconsent-3.1.0.min.css") { ForceProvider = "HeadRenderer", Priority = 2 });
    Html.RequiresCssFolder("/css", "core-*.css", 10, 1, null, "HeadRenderer");

    Html.RequiresJs(new JavascriptFile("~/js/vendor/jquery-3.3.1.min.js") { ForceProvider = "FootRenderer", Priority = 1, Group = 1 })
        .RequiresJs(new JavascriptFile("~/js/vendor/popper-1.14.7.min.js") { ForceProvider = "FootRenderer", Priority = 1, Group = 1 })
        .RequiresJs(new JavascriptFile("~/js/vendor/bootstrap-4.3.1.min.js") { ForceProvider = "FootRenderer", Priority = 1, Group = 1 })
        .RequiresJs(new JavascriptFile("~/js/vendor/picturefill-3.0.2.min.js") { ForceProvider = "FootRenderer", Priority = 1, Group = 1 })
        .RequiresJs(new JavascriptFile("~/js/vendor/js.cookie-2.2.0.js") { ForceProvider = "FootRenderer", Priority = 1, Group = 1 });

    Html.RequiresJsFolder("~/scripts/sitewide", "*", 2, 2, null, "FootRenderer");

    Html.RequiresJs(new JavascriptFile("~/js/vendor/cookieconsent-3.1.0.js") { ForceProvider = "LazyLoadRenderer", });

}<!doctype html>
<html lang="en">
<head>
    <!-- Common meta tags -->
    @{ Html.RenderPartial("Meta/CommonMetaTags"); }
    <!-- Additional Meta -->
    @*<link rel="canonical" href="@(Model.UrlAbsolute())">*@
    @{Html.RenderPartial("Meta/FacebookOG");}
    @{Html.RenderPartial("Meta/TwitterCard");}
    @{Html.RenderPartial("Meta/FavIcons");}
    <!-- Core Css -->
    @Html.RenderCssHere("HeadRenderer")
    <!-- Additional Css -->
    @Html.RenderCssHere()
    <!-- Head Js -->
    @Html.RenderJsHere("HeadRenderer")
</head>
<body>
    @Html.Partial("Layout/MainNavigation")


    @*@Html.Partial("Layout/BurgerMenu")*@

    @Html.Partial("Layout/Modal")
    @Html.Partial("Layout/CookiePreference")
    <div class="container mb-5 pb-3">
        @RenderBody()
    </div>

    <!-- js frameworks etc -->
    @Html.RenderJsHere("FootRenderer")
    <!-- Include all compiled plugins (below) -->
    @Html.RenderJsHere()
    <!-- lazy load JS renderer-->
    @Html.RenderJsHere("LazyLoadRenderer")

    @*<script src="https://cc.cdn.civiccomputing.com/8/cookieControl-8.x.min.js"></script>
        <script>
            var config = {
                apiKey: '3c499c000ebb870de697163583ec79eba9802b5c',
                product: 'COMMUNITY',
                optionalCookies: [
                    {
                        name: 'analytics',
                        label: 'Analytics',
                        description: 'We use analytics cookies to see how our site is used...',
                        cookies: [],
                        onAccept: function () { },
                        onRevoke: function () { }
                    }
                ],

                position: 'LEFT',
                theme: 'DARK'
            };

            CookieControl.load(config);
        </script>*@

    @{ 
        @*if(Request.Cookies["cookie"].Value == "Value")
        {
            @Html.Partial("Meta/GoogleAnalytics")
        }*@
    }


</body>
</html>