@model TWS.ThinkBlue.Models.SearchViewModel
@using ClientDependency.Core.Mvc
@{
    Html.RequiresJs("~/js/vendor/jquery.validate-1.19.0.min.js")
        .RequiresJs("~/js/vendor/jquery.validate.unobtrusive-3.2.11.min.js")
        .RequiresJs("~/js/vendor/jquery.unobtrusive-ajax-3.2.6.min.js")
        .RequiresJs("~/js/vendor/isInViewport-3.0.4.js")
     .RequiresJs("~/Scripts/search.js");

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}

@using (Ajax.BeginForm("SubmitSearchForm", "Search", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "search-results"
}, new Dictionary<string, object> { { "id", "menu-search-form" }, { "class", "mt-2 mb-3" } }))
{
    @Html.HiddenFor(m => m.DocTypeAliases)
    @Html.HiddenFor(m => m.FieldPropertyAliases)
    @Html.HiddenFor(m => m.PageSize)
    @Html.AntiForgeryToken();

    <div class="input-group bg-info p-2">
        @Html.LabelFor(m => m.SearchTerm, "What would you like to search for?", new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.SearchTerm, new { placeholder = "Search", @class = "form-control", autocomplete = "off" })
    </div>

    <div id="accordion">
        @if (Model.SearchThemes.Any())
        {
            <div class="card border-0 bg-transparent">
                <div class="card-header bg-white collapsed d-flex align-items-center justify-content-between" id="headingTheme" data-toggle="collapse" data-target="#collapseTheme" aria-expanded="false" aria-controls="collapseTheme">
                    <p class="mb-0">Theme</p>
                </div>

                <div id="collapseTheme" class="collapse" aria-labelledby="headingTheme" data-parent="#accordion">
                    <div class="card-body bg-info">
                        @for (int i = 0; i < Model.SearchThemes.Count; i++)
                        {
                            <div class="custom-control custom-switch text-white mb-1">
                                @Html.HiddenFor(m => m.SearchThemes[i].Value)
                                @Html.CheckBoxFor(m => m.SearchThemes[i].Selected, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.SearchThemes[i].Selected, Model.SearchThemes[i].Value, new { @class = "custom-control-label pl-1" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.SearchTypes.Any())
        {
            <div class="card border-0 bg-transparent">
                <div class="card-header bg-white collapsed d-flex align-items-center justify-content-between" id="headingMedia" data-toggle="collapse" data-target="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
                    <p class="mb-0">Media</p>
                </div>
                <div id="collapseMedia" class="collapse" aria-labelledby="headingMedia" data-parent="#accordion">
                    <div class="card-body bg-info">
                        @for (int i = 0; i < Model.SearchTypes.Count; i++)
                        {
                            <div class="custom-control custom-switch text-white mb-1">
                                @Html.HiddenFor(m => m.SearchTypes[i].Value)
                                @Html.CheckBoxFor(m => m.SearchTypes[i].Selected, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.SearchTypes[i].Selected, Model.SearchTypes[i].Value, new { @class = "custom-control-label pl-1" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.SearchPersonas.Any())
        {
            <div class="card border-0 bg-transparent">
                <div class="card-header bg-white collapsed d-flex align-items-center justify-content-between" id="headingUser" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                    <p class="mb-0">Interests</p>
                </div>
                <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordion">
                    <div class="card-body bg-info">
                        @for (int i = 0; i < Model.SearchPersonas.Count; i++)
                        {
                            <div class="custom-control custom-switch text-white mb-1">
                                @Html.HiddenFor(m => m.SearchPersonas[i].Value)
                                @Html.CheckBoxFor(m => m.SearchPersonas[i].Selected, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.SearchPersonas[i].Selected, Model.SearchPersonas[i].Value, new { @class = "custom-control-label pl-1" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <button id="search-button" class="btn btn-primary float-right mt-2 mb-2" type="submit">Explore</button>
}